<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages theme="PRISMtheme"/>
  </system.web>
  <appSettings>
    <add key="Version" value="1.0" />
    <add key="LStreamPhone" value="800.879.4484"/>
    <add key="DonateUrl" value="https://www.lstream.org/ScheduleAppt/Start.aspx?Mode=Find"/>
    <add key="LocationsUrl" value="https://www.lstream.org/Locations.aspx"/>
    <!--<add key="PreviewUrl" value="http://devlapp2/promo_lsv2/Promopreview.aspx?id="/>-->
    <!--<add key="PromoDtlUrl" value="http://devlapp2/promo_lsv2/Promodetail.aspx?id=" />-->
    <add key="PreviewUrl" value="http://valiapp2/promo_lsv2/Promopreview.aspx?id="/><!--Validation-->
    <add key="PromoDtlUrl" value="http://valiapp2/promo_lsv2/Promodetail.aspx?id=" /><!--Validation-->    
  </appSettings>
  <connectionStrings>
    <add name="PrismConn" connectionString="Server=DBSERVER08; Database=PRISM_vali; User Id=prism_user; password= prism!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" maxBufferSize="20000000" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000">
          <security>
            <transport realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://devlapp2/prism_webservice/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="PRISM_Service.ServiceSoap" name="ServiceSoap" />-->
      <endpoint address="http://172.16.2.170/VALI_PRISM_SERVICE/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="PRISM_Service.ServiceSoap" name="ServiceSoap" />      
    </client>
  </system.serviceModel>
</configuration>